<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="icon" href="{% static 'Icons/icon.png' %}" type="image/gif">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@600&display=swap" rel="stylesheet">
    <title>Cinematic</title>
</head>
<body style="text-align: center; font-family: 'Atma', cursive; background-color: #E8E8E8; color: #101820">
    <img src="https://image.flaticon.com/icons/svg/595/595067.svg" style="height: 10rem; width: 10rem;">
    <h2>Unable to fetch information.</h2>
    <h2>Try Reloading the page</h2>
</body>
</html>