{% extends 'Base.html' %}
{% block content %}
{% load static %}


<section class="text-gray-700 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="flex flex-wrap -m-4">

            {% for search in searchList %}
            <div class="lg:w-1/5 md:w-1/2 w-full rounded">

                <div class="m-3 rounded" style="background-color: #101820;" id="display-box">

                    {% if type == "movie" %}

                    <a class="block relative h-90 rounded overflow-hidden" href="/movie/id={{search.id}}">

                        {% if search.poster_path == null %}
                        <img alt="{{search.title}}" class="object-cover object-center w-full h-full block"
                            src="{% static 'Icons/error.jpg' %}">

                        {% else %}
                        <img alt="{{search.title}}" class="object-cover object-center w-full h-full block"
                            src="https://image.tmdb.org/t/p/w500/{{search.poster_path}}">
                        {% endif %}
                    </a>

                    {% else %}
                    <a class="block relative h-90 rounded overflow-hidden" href="/tv/id={{search.id}}">

                        {% if search.poster_path == null %}
                        <img alt="{{search.title}}" class="object-cover object-center w-full h-full block"
                            src="{% static 'Icons/error.jpg' %}">

                        {% else %}
                        <img alt="{{search.title}}" class="object-cover object-center w-full h-full block"
                            src="https://image.tmdb.org/t/p/w500/{{search.poster_path}}">
                        {% endif %}
                    </a>

                    {% endif %}

                    <div class="mt-4 pl-4 pb-4">

                        {% if type == "movie" %}
                        <h2 class="text-gray-900 title-font text-lg font-medium"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: white;">
                            {{search.title}}</h2>
                        <p class="mt-1" style="color: #FEE715;">{{search.release_date}}</p>

                        {% else %}
                        <h2 class="text-gray-900 title-font text-lg font-medium"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: white;">
                            {{search.name}}</h2>
                        <p class="mt-1" style="color: #FEE715;">{{search.first_air_date}}</p>

                        {% endif %}
                    </div>

                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</section>


<script>
    {% if type == "movie" %}
    document.getElementById("movies").style.color = "white";
    document.getElementById("tv").style.color = "";
    {% else %}
    document.getElementById("movies").style.color = "";
    document.getElementById("tv").style.color = "white";
    {% endif %}
</script>

{% endblock %}